DB_PASSWORD= #Mot de passe de la bd
DB_USER= #user de la db
DB_HOST=localhost
DB_NAME= #Nom de la bd
DB_PORT=5432
DB_CLIENT=pg
PEPPER= #Un pepper pour hasher
JWT_TOKEN= #Une signature pour les token

POSTGRES_PASSWORD= #Même que DB_PASSWORD
POSTGRES_DB= #Même que DB_NAME
POSTGRES_USER= #Même que DB_USER

REDIS_HOST=redis
REDIS_PORT=6379